@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --Primary : #ffffff;
    --Secondary : #DCDCDC;
    --Tertiary : #800020;

    --Primary-Text : #0b0b0b;
}

h1,h2,h3 {
    font-family:Arial, Helvetica, sans-serif
}

dl,ol,ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ol ol,ol ul,ul ol,ul ul {
    margin-bottom: 0
}
